<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package
    Name="HCB Revit Addin $(var.RevitYear)"
    Manufacturer="HCB"
    Version="$(var.InstallerProductVersion)"
    UpgradeCode="$(var.UpgradeCode)"
    InstallerVersion="500"
    Scope="perUser"
    Compressed="yes">
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Feature Id="MainFeature" Title="HCB Revit Addin $(var.RevitYear)" Level="1">
      <ComponentGroupRef Id="AddinManifestGroup" />
      <ComponentGroupRef Id="AddinPayloadGroup" />
    </Feature>

    <StandardDirectory Id="AppDataFolder">
      <Directory Id="AutodeskFolder" Name="Autodesk">
        <Directory Id="RevitFolder" Name="Revit">
          <Directory Id="AddinsFolder" Name="Addins">
            <Directory Id="RevitVersionFolder" Name="$(var.RevitYear)">
              <Directory Id="AddinPayloadFolder" Name="HCB.RevitAddin" />
            </Directory>
          </Directory>
        </Directory>
      </Directory>
    </StandardDirectory>
  </Package>

  <Fragment>
    <DirectoryRef Id="RevitVersionFolder">
      <Component Id="AddinManifestComponent" Guid="$(var.ManifestComponentGuid)">
        <File Id="AddinManifestFile"
              Source="$(var.InstallerManifestPath)"
              KeyPath="yes" />
      </Component>
    </DirectoryRef>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="AddinManifestGroup">
      <ComponentRef Id="AddinManifestComponent" />
    </ComponentGroup>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="AddinPayloadGroup" Directory="AddinPayloadFolder">
      <Files Include="$(var.InstallerPayloadAddinDir)\**" />
    </ComponentGroup>
  </Fragment>
</Wix>
